<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lee.vioson.aidlclien">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="lee.vioson.aidldemo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="lee.vioson.aidldemo.AIDLActivity" />
        <activity android:name="lee.vioson.aidldemo.MessengerActivity" />
        <activity android:name="lee.vioson.aidldemo.IBinderActivity" />

        <service android:name="lee.vioson.aidldemo.LocalService" />
        <!--<service-->
            <!--android:name="lee.vioson.aidldemo.RemoteService"-->
            <!--android:process="remote" />-->
    </application>

</manifest>